.panelTop{
    height: 52px;
    /* width: 100%; */
    background-color: #0B2130;
    display: flex; /* Establecemos el contenedor como un flex container */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    align-items: center; 
    z-index: 5;
 
    padding-right: 10%;
    padding-left: 10%;
}

.panelLefth {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #0b2130ec;
    flex-direction: column;
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
    display: flex;
    align-items: center;
    backdrop-filter: blur(10px); /* Desenfoque del fondo */
    -webkit-backdrop-filter: blur(10px); /* Soporte para Safari */

}

.panelLefth p{
    padding-top: 24px;
    padding-bottom: 24px;
    color: #ffffff;
    font-size: 24px;
    margin-top: 0px;
    font-weight: 700;
}

.parent-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position:absolute;
    z-index: 1;
    top: 0;
    left: 0;

}

.hidden {
    display: none;
    z-index: 1;
}



.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    color: #ECECEC;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    -webkit-font-smoothing: antialiased;

    text-rendering: optimizeLegibility;
  
    -moz-osx-font-smoothing: grayscale;

    font-feature-settings: 'liga';
}


p{
    color: aliceblue;
    cursor: pointer;
}
  

.infoPanal{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
   
    z-index: 1;
    position: relative;
}


@media screen and (max-width: 768px) {
    .panelTop{
        padding-right: 24px;
        padding-left: 24px;
    }
  
    
}