.cardProyect{
    width: 100%;
   
    height: 253px;
    background-color: #0B2130;
    border-radius: 12px;
    position: relative; /* Sets the positioning context for child elements */
   
    overflow: hidden;
   
    margin-bottom: 0px;
    box-shadow: 0 8px 32px rgba(31, 31, 31, 0.35); /* Sombra más intensa al hacer hover */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.cardInfo{
    max-width: 500px;
    margin: 20px;
    cursor: pointer;
}

.cardInfo h2{
    color: #1f1f1f;
    font-weight: 900;
    margin-top: 3px;
    font-size:small;

}

.cardInfo p{
    color: #2d2d2d;
    font-weight: 100;
    font-size: small;
}



.cardProyect img {
    height: 101%;
    width: 101%;
    object-fit: cover;

}

.cardProyect p {
    position: relative;
    bottom: 0;
    left: 0;
    font-weight: 900;
    padding-top: 6;
    padding-left: 20px;

    color: rgb(0, 0, 0); /* Optional text color (consider contrasting with background) */
}

.panelTitleCardSelect{
    position: absolute; /* Positions the text absolutely relative to the button */
    width: 100%;
    height: 100%;
    background-color: #0B2130;
}

.panelTitleCard{
    position: absolute; /* Positions the text absolutely relative to the button */
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to top, #0B2130, rgba(0, 0, 0, 0)); Gradient from black to transparent */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.panelTitleCard p{
    margin-bottom: 6px;
}




.cardInfo:hover {
    transform: scale(1.04);
}


.proyectContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
  
}


@media (max-width: 768px) {
  .proyectContent {
    justify-content: flex-center; /* Center items on smaller screens */
     margin-left: 24px;
    margin-right: 24px;
  }
  .contenedorProyectos {
    padding-left: 0%;
    padding-right: 0%;
  }

  .cardInfo{
    margin-left: 0px;
    margin-right: 0px;
  }
  

}

/*
    Colores
    GrisClaro 2d2d2d
    GrisOscuro 1f1f1f
    Negro 000000
*/